fastapi
uvicorn[standard]
sqlalchemy
psycopg2-binary
pydantic
python-dotenv
langchain>=0.2,<0.3
langchain-community>=0.2,<0.3
langchain-huggingface>=0.0.3
langchain-text-splitters>=0.2,<0.3
sentence-transformers
faiss-cpu
pypdf
rank-bm25
huggingface-hub
transformers
